h1{
    text-align: center;
}

p {
    text-align: center;
    color: coral;
    padding: 20px;
    font-size: 20px;
}

.wrapper {
    text-align: center;
}

button {
    color: rgb(3, 3, 83);
    border-style: none;
    font-size: 20px;
    border-radius: 10px;
    padding: 20px;
}

.sideNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sideNav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sideNav a:hover {
    color: #f1f1f1;
}

span {
    font-size: 30px;
    cursor: pointer;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

@media screen and (max-height: 450px) {
    .sideNav {padding-top: 15px;}
    .sideNav a {font-size: 18px;}   
}